body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f6f9;
  color: #333;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-color: #fff;
}

.dashboard-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ff7e5f;
  margin-bottom: 20px;
  text-align: center;
}

.bubbles-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.bubble {
  padding: 15px 30px;
  font-size: 1.1rem;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  min-width: 180px;
  text-align: center;
}

.bubble:hover {
  background-color: #feb47b;
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.bubble.active {
  background-color: #ff5722;
  transform: scale(1.1);
}

.bubble-content {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-title {
    font-size: 2rem;
  }

  .bubbles-container {
    flex-direction: column;
    gap: 10px;
  }

  .bubble {
    min-width: 150px;
    font-size: 1rem;
  }

  .bubble-content {
    width: 90%;
  }
}

/* Dashboard.css */
.back-button {
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #e64a19;
}
