body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* Red-Orange Gradient */
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.landing-title {
  font-size: 2rem;
  color: #ff7e5f;
  text-align: center;
  margin-bottom: 15px;
}

.landing-subtitle {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin-bottom: 30px;
}

.landing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
  color: #333;
}

.form-group input:focus {
  outline: none;
  border-color: #ff7e5f;
  box-shadow: 0 0 5px rgba(255, 126, 95, 0.5);
}

.start-button {
  padding: 12px 20px;
  font-size: 1.1rem;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 250px;
}

.start-button[type="submit"]:hover {
  background-color: #feb47b;
}

.start-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .landing-page {
    padding: 20px;
  }

  .landing-title {
    font-size: 1.8rem;
  }

  .landing-subtitle {
    font-size: 0.9rem;
  }
}
